.number-page {
    background-image: url("../../images/number-page.png");

    &__content {
        width: 27.2rem;
    }

    &__title {
        font-weight: 400;
        font-size: 2.6rem;
        line-height: 3.047rem;
        color: #000;
        text-align: center;
    }

    &__phone {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.75rem;
        color: #000;
        text-align: center;
        margin-top: 1.3rem;
    }

    &__text {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.641em;
        color: #000;
        text-align: center;
        margin: 1.3rem 0 2rem;
    }

    &__btn {
        width: 100%;
        height: 5.2rem;

        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;

        transition: all 0.2s ease-in-out;
        margin-top: 2rem;

        &--disabled {
            border: .1rem solid #4E4E4E;
            color: #4E4E4E;
        }

        &--enabled {
            background-color: #000;
            color: #fff;
            border: none;

            &:hover {
                background-color: rgb(20, 20, 20);
            }
        }
    }

    &__check {
        margin-top: 4rem;
        padding-left: 1rem;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &+label {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-weight: 400;
            color: #565656;
            font-size: 1.4rem;
            line-height: 1.6rem;

            &::before {
                content: '';
                display: inline-block;
                width: 4rem;
                height: 4rem;
                flex-shrink: 0;
                flex-grow: 0;
                border: .2rem solid #000;
                margin-right: 2rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                transition: all .2s ease-in-out;
            }
        }

        &:checked+label::before {
            background-image: url('../../images/check.png');
        }

        &:focus+label::before {
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.75);
        }

        &:not(:disabled):not(:checked)+label:hover::before {
            border-color: #505152;
        }
    }

    &__error {
        text-align: center;
        margin: 3rem 0;
        font-size: 1.8rem;
        color: #ff0000;
    }

    &__back {
        position: absolute;
        display: inline-block;
        top: 2rem;
        right: 2rem;
    }

    &__scanQr {
        position: absolute;
        bottom: 4rem;
        right: 4rem;
    }
}