.video-page {
    background-image: url("../../images/video.png");

    &__banner {
        position: absolute;
        top: 30%;
        right: 0;
        animation: showBanner 1.5s ease-in-out;
        width: 25.1rem;
        height: 35.7rem;
        background-color: #86D3F4;
        padding: 3rem 1rem 1rem;
        text-align: center;
    }

    &__title {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.875rem;
    }

    &__qrcode {
        width: 12.6rem;
        height: 12.6rem;
        margin: 2rem auto;
    }

    &__scanQr {
        width: 12.6rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.641rem;
        margin: 0 auto;
    }

    &__btn {
        width: 15.6rem;
        background-color: #000;
        color: #86D3F4;
        margin: 1.3rem auto 0;
    }
}


@keyframes showBanner {
    from {
        top: 30%;
        right: -100%;
    }

    to {
        top: 30%;
        right: 0;
    }
}