@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import '../../scss/mixins';
@import '../../scss/btn';
@import '../../pages/BannerPage/BannerPage.scss';
@import '../../pages/NumberPage/NumberPage.scss';
@import '../../pages/FinalPage/FinalPage.scss';
@import '../../scss/container16_9';
@import '../LeftBlock/LeftBlock.scss';
@import '../KeyBoard/KeyBoard.scss';
@import '../BackBtn/BackBtn.scss';
@import '../ScanBlock/ScanBlock.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a:active,
a:hover,
a {
    text-decoration: none;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 550ms ease-in-out;
}