@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import '../../scss/mixins';
@import '../../scss/btn';
@import '../../pages/BannerPage/BannerPage.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}