.key-board {
    height: 23.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__btn {
        width: 8.8rem;
        height: 5.2rem;
        border: .2rem solid #000;
        font-size: 1.6rem;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        transition: all .1s ease-in-out;

        &--width {
            width: 18rem;
        }

        &:hover {
            transform: scale(0.93);
        }

        &--active {
            background-color: #000;
            color: #fff;
        }
    }
}